.card {
  flex: 1;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-45);
  background-color: var(--Dark);
  border: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-49) var(--padding-50);
  gap: var(--gap-30) var(--gap-20);
  min-width: var(--min-w-466);
  max-width: var(--max-w-600);
  text-align: left;
  font-size: var(--fs-30);
  color: var(--Black);
  font-family: var(--font-space-grotesk);
}
.headingAndLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-93);
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  border-radius: var(--br-7);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-7);
}
.label2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.label4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.link {
  cursor: pointer;
  border: none;
  padding: var(--padding-01);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: var(--gap-15);
}
.icon {
  cursor: pointer;
  border: none;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-41);
  width: var(--width-41);
  position: relative;
  object-fit: cover;
}
.label5 {
  margin: 0;
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-28);
  font-weight: 400;
  font-family: var(--font-space-grotesk);
  color: var(--color-white);
  text-align: left;
}
.assetIcon {
  height: 210px;
  width: var(--width-210);
  position: relative;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .card {
    gap: var(--gap-20);
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .card {
    gap: var(--gap-20);
    padding-left: var(--padding-25);
    padding-right: var(--padding-25);
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
  }

  .label4 {
    font-size: var(--fs-24);
  }
}
@media screen and (max-width: 450px) {
  .label4 {
    font-size: var(--fs-18);
  }

  .label5 {
    font-size: var(--fs-16);
    line-height: var(--lh-22);
  }
}
