.caseStudiesSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-space-grotesk);
}
.headingSubheading {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-30);
}
.headingSubheading2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-10) var(--gap-40);
  max-width: var(--max-w-1240);
}
.label {
  border-radius: var(--br-7);
  background-color: var(--Green);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-7);
}
.label2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.exploreRealLifeExamples {
  flex: 1;
  position: relative;
  font-size: var(--fs-18);
  display: inline-block;
  min-width: var(--min-w-310);
  max-width: 580px;
}
.caseStudiesBlock {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-0) var(--padding-30);
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.caseStudiesBlock2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: var(--max-w-1240);
}
.caseStudies {
  width: 100%;
  border-radius: var(--br-45);
  background-color: var(--Dark);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 70px var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-30) var(--gap-64);
  max-width: 1234px;
}
.caseStudiesColumn {
  height: 186px;
  width: 0px;
  position: relative;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
  .headingSubheading2 {
    max-width: 100%;
  }

  .caseStudiesBlock2 {
    max-width: 100%;
  }

  .caseStudies {
    gap: var(--gap-32);
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .exploreRealLifeExamples {
    max-width: 100%;
  }

  .caseStudies {
    gap: var(--gap-16);
  }
}
@media screen and (max-width: 450px) {
  .headingSubheading2 {
    gap: var(--gap-20);
  }
}
