.caseStudy {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-20);
  min-width: var(--min-w-250);
  max-width: var(--max-w-286);
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.forALocal {
  width: 100%;
  position: relative;
  display: inline-block;
  max-width: var(--max-w-286);
}
.link {
  display: flex;
  align-items: center;
  gap: var(--gap-15);
  font-size: var(--fs-20);
  color: var(--Green);
}
.label {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-28);
  font-weight: 400;
  font-family: inherit;
}
.icon {
  height: var(--height-10);
  width: var(--width-17_3);
  position: relative;
  object-fit: cover;
}

@media screen and (max-width: 450px) {
  .label {
    font-size: var(--fs-16);
    line-height: var(--lh-22);
  }
}
