.header {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-30);
}
.header2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-100) var(--gap-20);
  max-width: var(--max-w-1240);
}
.headerDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-35);
  min-width: var(--min-w-310);
  max-width: 531px;
  text-align: left;
  font-size: var(--fs-60);
  color: var(--Black);
  font-family: var(--font-space-grotesk);
}
.navigatingTheDigital {
  width: 100%;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 531px;
}
.ourDigitalMarketing {
  width: 100%;
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-28);
  display: inline-block;
  max-width: 498px;
}
.button {
  cursor: pointer;
  border: none;
  padding: var(--padding-20) var(--padding-35);
  background-color: var(--Dark);
  border-radius: var(--br-14);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-dimgray-100);
}
.label {
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-28);
  font-family: var(--font-space-grotesk);
  color: var(--color-white);
  text-align: left;
}
.assetIcon {
  height: 515px;
  flex: 1;
  position: relative;
  max-width: var(--max-w-600);
  overflow: hidden;
  object-fit: cover;
  min-width: var(--min-w-310);
}

@media screen and (max-width: 1400px) {
  .header2 {
    gap: var(--gap-20);
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .headerDetails {
    gap: var(--gap-17);
    max-width: 100%;
  }

  .navigatingTheDigital {
    font-size: var(--fs-48);
    max-width: 100%;
  }

  .ourDigitalMarketing {
    max-width: 100%;
  }

  .assetIcon {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .navigatingTheDigital {
    font-size: var(--fs-36);
  }

  .ourDigitalMarketing {
    font-size: var(--fs-16);
    line-height: var(--lh-22);
  }
}
