.servicesSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-18);
  color: var(--Black);
  font-family: var(--font-space-grotesk);
}
.headingSubheading {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-30);
}
.headingSubheading2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-10) var(--gap-40);
  max-width: var(--max-w-1240);
}
.label {
  cursor: pointer;
  border: none;
  padding: var(--padding-0) var(--padding-7);
  background-color: var(--Green);
  border-radius: var(--br-7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label:hover {
  background-color: var(--color-yellowgreen);
}
.label2 {
  position: relative;
  font-size: var(--fs-40);
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  color: var(--Black);
  text-align: left;
}
.atOurDigital {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: var(--min-w-310);
  max-width: 580px;
}
.servicesBlock {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-40);
}

@media screen and (max-width: 1400px) {
  .headingSubheading2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .label2 {
    font-size: var(--fs-32);
  }

  .atOurDigital {
    max-width: 100%;
  }

  .servicesBlock {
    gap: var(--gap-20);
  }
}
@media screen and (max-width: 450px) {
  .headingSubheading2 {
    gap: var(--gap-20);
  }

  .label2 {
    font-size: var(--fs-24);
  }
}
