.teamSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-18);
  color: var(--Black);
  font-family: var(--font-space-grotesk);
}
.headingSubheading {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-30);
}
.headingSubheading2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-10) var(--gap-40);
  max-width: var(--max-w-1240);
}
.label {
  cursor: pointer;
  border: none;
  padding: var(--padding-0) var(--padding-7);
  background-color: var(--Green);
  border-radius: var(--br-7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label:hover {
  background-color: var(--color-yellowgreen);
}
.team {
  width: 101px;
  position: relative;
  font-size: var(--fs-40);
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  color: var(--Black);
  text-align: left;
  display: inline-block;
}
.meetTheSkilled {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: var(--min-w-310);
  max-width: 473px;
}
.row {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-0) var(--padding-30);
  gap: var(--gap-40);
  text-align: left;
  font-size: var(--fs-20);
  color: var(--Black);
  font-family: var(--font-space-grotesk);
}
.card {
  flex: 1;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-45);
  background-color: var(--color-white);
  border: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px var(--padding-20) 61px;
  min-width: var(--min-w-310);
  max-width: var(--max-w-387);
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-28);
  max-width: var(--max-w-316_7);
}
.person {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  row-gap: var(--gap-20);
}
.pictureAndName {
  flex: 1;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-20);
  min-width: 184px;
}
.assetIcon {
  height: var(--height-102_8);
  width: 105.6px;
  position: relative;
  object-fit: cover;
}
.name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 102px;
}
.johnSmith {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.ceoAndFounder {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-18);
}
.socialIcon {
  height: var(--height-34);
  width: var(--width-34);
  position: relative;
  object-fit: cover;
}
.profileSeparator {
  align-self: stretch;
  height: var(--height-0);
  position: relative;
  border-top: var(--border-2);
  box-sizing: border-box;
}
.yearsOfExperience {
  width: 100%;
  position: relative;
  font-size: var(--fs-18);
  display: inline-block;
  max-width: var(--max-w-316_7);
}
.button {
  cursor: pointer;
  border: none;
  padding: var(--padding-20) 76px;
  background-color: var(--Dark);
  border-radius: var(--br-14);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-dimgray-100);
}
.label2 {
  position: relative;
  font-size: var(--fs-20);
  line-height: var(--lh-28);
  font-family: var(--font-space-grotesk);
  color: var(--color-white);
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .headingSubheading2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .headingSubheading2 {
    gap: var(--gap-20);
  }

  .team {
    font-size: var(--fs-32);
  }

  .meetTheSkilled {
    max-width: 100%;
  }

  .row {
    gap: var(--gap-20);
  }
}
@media screen and (max-width: 450px) {
  .team {
    font-size: var(--fs-24);
  }

  .card {
    max-width: 100%;
  }

  .person {
    flex-wrap: wrap;
  }

  .pictureAndName {
    flex-wrap: wrap;
  }

  .assetIcon {
    flex: 1;
  }

  .johnSmith {
    font-size: var(--fs-16);
  }

  .button {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
